*{
  margin: 0;
}

body{
  background-color: #58535B;
}


header{
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

h1{
  text-align: center;
  color:#58535B;
  font-family: sans-serif;
}

.container{
  height: 45%;
  width: 45%;
  margin: auto;
}

img{
    width: 100%;
    height: 100%;
}
#previousbtn{
    margin-right: 75px;;
}
#nextbtn{
    margin-left: 75px;
}
